<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.helloworld">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="无能"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".viewpager.ViewPageActivity"-->
            <!--android:label="无能">-->
            <!--<intent-filter>-->
              <!--<action android:name="android.intent.action.MAIN" />-->

              <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>/>-->
        <!--</activity>-->
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".information.InforActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".login.RegisterActivity"/>
        <activity android:name=".login.AddSelfInforActivity1"/>
        <activity android:name=".login.AddSelfInforActivity2"/>
        <activity android:name=".TabLayout.SegmentTabActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Home.HealthReportActivity"/>
        <activity android:name=".TabLayout.ReplaceFoodActivity"/>
        <activity android:name=".setting.SettingActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".setting.AccountInforActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".setting.SelfInforActivity"/>
        <activity android:name=".setting.AboutActivity"/>
        <activity android:name=".setting.ProtocolActivity"/>
        <activity android:name=".setting.ChangeNameActivity"/>
        <activity android:name=".setting.ChangePasswordActivity"/>
        <activity android:name=".crop.WeiChatCropActivity"/>
        <activity android:name=".crop.ChangePictureActivity"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>